@charset "utf-8";
/* CSS Document */

div#content div.content_left
{
	height:auto;
	width:69%;
	float:left;
	border-right:solid #666 1px;
	padding:0 5px 0 1px;
	color:#666;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	
}
div#content div.content_right
{
	background:#86B240;
	float:right;
	height:auto;
	width:29%
}
div#content span
{
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:17px;
	border-bottom:double 3px #F00;
	color:#00C;
}
div a
{
	text-decoration:none;
}
div#content div.content_left  img
{
	width:230px;
	height:140px;
	border:solid #CCC 2px;
	-moz-box-shadow: 3px 3px 3px #888888; /* Firefox */
	-webkit-box-shadow: 3px 3px 3px #888888; /* Safari and Chrome */
	box-shadow: 3px 3px 3px #888888;
}

div#content div.content_right img
{
	width:120px;
	height:70px;
	border:solid #CCC 2pxx;
}



div#content  div.content_left img:hover {border:#FC0 solid 2px;}

div#content  div.content_right img:hover{border:#FC0 solid 2px;}

div#content div.content_left p a span
{
	color:#F00;
	border:none;
	font-size:12px;
}
img
{
	border:solid #CCC 2px;
	 /*border:1px solid;
		-moz-border-radius:5px;
		border-radius:5px;*/
}
img:hover
{
	border:solid #FC0 2px;
	opacity:0.8;filter:alpha(opacity=80);
}


