/* green */
#page_bg {background: #FFF;}

div#wrapper {}

div#wrapper_r {
	
}

div#header {
	background: #86B240;
}

div#header_l {
	
}

div#header_r {
	
}

div#footer {
	background: #86B240;
	height:150px;
}

div#footer_l {
	
}

div#footer_r {
	
}